<div id="aside-wrap">
    <aside class="gnb-wrap">
        <div class="fixed-head">
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="gnb-box">
            <ul class="menu-list">
                <li><a href="../views/main.html" class="menu-list-link tit">HOME</a></li>
                <li><a href="javascript:;" class="menu-list-link">menu01</a></li>
                <li><a href="javascript:;" class="menu-list-link">menu02</a></li>
                <li><a href="javascript:;" class="menu-list-link">menu03</a></li>
            </ul>
        </div>
    </aside>
</div>