<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" > 
    <title>design compilation</title> 
    <meta content="" property="og:title"> 
    <meta content="" property="og:url"> 
    <meta content="" property="og:description"> 
    <meta content="" property="og:image">
    <meta content="website" property="og:type"> 
    <meta content="" property="og:site_name"> 

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <!-- hmlt5 support -->
    
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <p style="font-size: 12px; color: #fff; background: #2885b0; padding:5px 0; margin: 0; text-align: center">
        사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
        <a href="http://www.microsoft.com/korea/ie" target="_blank" >업그레이드,</a>
        <a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a>
        <a href="http://kr.opera.com/download/" target="_blank">오페라,</a>,
        <a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
        <a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a>
    </p>
    <![endif]-->

    <!--// hmlt5 support -->
</head>
<body>
    <div id="wrap">
        <!-- start skipNav -->
        <div id="skipNav">
            <a href="#gnb-wrap" class="navMenu">대메뉴로 바로가기</a>
            <a href="#detail-content" class="navMenu">본문으로 바로가기</a>
        </div>
        <!-- //skipNav-->
        <!-- s :: dimbox -->
        <div class="dimbox"></div>
        <!-- // dimbox -->
        <div class="dsp-flex hp-100">
            <!-- s : asideMenu -->
            <div data-include-path="/designUploadSite/views/header.html"></div>
            <!-- // asideMenu -->
            <div id="main">
                <section class="cont-container">
                    <!-- s: header -->
                    <header class="cont-top-head">
                        <h1>COMPANY <br/>DESIGN COMPILATION</h1>
                        <button type="button" class="lock"></button>
                    </header>
                    <!-- // header -->
                    <!-- s :: content-area -->
                    <article class="content-area">
                        <span class="line"></span>
                        <header class="cont-head">
                            <h2 class="cont-tit">PROJECT </h2>
                            <div class="button-list">
                                <button type="button" class="btn btn-out-dark btn-delect">삭제</button>
                                <button type="button" class="btn btn-cancle ml-10">취소</button>
                            </div>
                        </header>
                        <div class="content">
                            <!-- s :: project search -->
                            <div class="search-box dsp-flex-end">
                                <div class="checkbox state-project">
                                    <label>
                                        <input type="checkbox">
                                        <i class="icheck">체크박스</i>
                                        <span> 모든 프로젝트만 보기</span>
                                    </label>
                                </div>
                                <div class="dsp-flex">
                                    <select name="" id="" class="form-select">
                                        <option value="등록순 정렬" selected>등록순 정렬</option>
                                        <option value="업데이트순 정렬">업데이트순 정렬</option>
                                    </select>
                                    <form role="search" class="dsp-flex">
                                        <input type="text" class="form-input" placeholder="Search">
                                        <button type="submit" class="btn btn-dark">검색</button>
                                    </form>
                                </div>
                            </div>
                            <!-- // project search -->
                            <ul class="project-list dsp-flex justcontent-center">
                                <li class="project-list-item">
                                    <a href="javascript:;" class="project-add-box project-item-link">
                                        <div class="project-box">
                                            <span class="plus-thin"></span>
                                        </div>
                                    </a>
                                </li>
                                <li class="project-list-item">
                                    <a href="/designUploadSite/views/project.html" class="project-item-link">
                                        <div class="project-box">
                                            <img src="../assets/images/test.jpg" alt="이미지">
                                            <p class="btn btn-dark on-btn">진행중</p>
                                            <div class="project-dim">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="chk" name="chk">
                                                        <i class="icheck">체크박스</i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="project-tit">메뉴1</p>
                                    </a>
                                </li>
                                <li class="project-list-item">
                                    <a href="/designUploadSite/views/project.html" class="project-item-link">
                                        <div class="project-box">
                                            <img src="../assets/images/test.jpg" alt="이미지">
                                            <p class="btn btn-dark on-btn">진행중</p>
                                            <div class="project-dim">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="chk" name="chk">
                                                        <i class="icheck">체크박스</i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="project-tit">메뉴2</p>
                                    </a>
                                </li>
                                <li class="project-list-item">
                                    <a href="javascript:;" class="project-item-link">
                                        <div class="project-box">
                                            <img src="../assets/images/test.jpg" alt="이미지">
                                            <p class="btn btn-gray on-btn">완료</p>
                                            <div class="project-dim">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="chk" name="chk">
                                                        <i class="icheck">체크박스</i>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="project-tit">메뉴3</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <!-- // content-area -->
                </section>
            </div>
            <!-- s : footer -->
            <div data-include-path="/designUploadSite/views/footer.html"></div>
            <!-- // footer -->
            <!-- s : 게시판 추가 모달 -->
            <form action="">
                <div id="modal-wrap" class="popup">
                    <div class="pop-head">
                        <strong class="pop-tit">게시판 추가</strong>
                        <span class="line"></span>
                    </div>
                    <div class="pop-body">
                        <ul class="project-popup-box">
                            <li class="project-img-box">
                                <div class="imgBox"></div>
                                <div class="dspInblc file-attachment">
                                    <img src="../assets/images/test.jpg" alt="기본 이미지">
                                    <input id="imgInp" class="fileupload" type="file" name="files[]" multiple="">
                                </div>
                            </li>
                            <li class="project-title-box">
                                <p class="tit">KAI-I PROJECT</p>
                                <p class="name">프로젝트 이름</p>
                                <input type="text" class="form-input" aria-label="...">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <i class="icheck">체크박스</i>
                                        <span> 진행중인 프로젝트</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pop-foot">
                        <div class="button-list dsp-flex-end">
                            <button type="button" class="btn btn-out-dark cancle">취소</button>
                            <button type="button" class="btn btn-dark">확인</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- // 게시판 추가 모달 -->
        </div>
    </div>
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script>
        
        $(document).on('click','.btn-delect', function(){
            $(this).html('선택 항목 삭제');
            $(this).css({'width':'135px'});
            $('.btn-cancle , .project-dim').show();
        }).on('click','.btn-cancle',function(){
            $(this).hide();
            $('.btn-delect').html('삭제');
            $('.btn-delect').css({'width':'auto'});
            $('.project-dim').hide();
        });

        $(document).on('click','.project-add-box',function(){
            $('.dimbox , #modal-wrap').show();
        }).on('click','.cancle',function(){
            $('.dimbox , #modal-wrap').hide();
        });

    </script>
</body>
</html>