<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" > 
    <title>design compilation</title> 
    <meta content="" property="og:title"> 
    <meta content="" property="og:url"> 
    <meta content="" property="og:description"> 
    <meta content="" property="og:image">
    <meta content="website" property="og:type"> 
    <meta content="" property="og:site_name"> 

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <!-- hmlt5 support -->
    
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <p style="font-size: 12px; color: #fff; background: #2885b0; padding:5px 0; margin: 0; text-align: center">
        사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
        <a href="http://www.microsoft.com/korea/ie" target="_blank" >업그레이드,</a>
        <a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a>
        <a href="http://kr.opera.com/download/" target="_blank">오페라,</a>,
        <a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
        <a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a>
    </p>
    <![endif]-->

    <!--// hmlt5 support -->
</head>
<body>
    <div id="wrap">
        <!-- start skipNav -->
        <div id="skipNav">
            <a href="#gnb-wrap" class="navMenu">대메뉴로 바로가기</a>
            <a href="#detail-content" class="navMenu">본문으로 바로가기</a>
        </div>
        <!-- //skipNav-->
        <!-- s :: dimbox -->
        <div class="dimbox"></div>
        <!-- // dimbox -->
        <div class="dsp-flex hp-100">
            <!-- s : asideMenu -->
            <div data-include-path="/designUploadSite/views/header.html"></div>
            <!-- // asideMenu -->
            <div id="main">
                <section class="cont-container">
                    <!-- s: header -->
                    <header class="cont-top-head">
                        <h1>COMPANY <br/>DESIGN COMPILATION</h1>
                        <button type="button" class="lock"></button>
                    </header>
                    <!-- // header -->
                    <!-- s :: content-area -->
                    <article class="content-area">
                        <span class="line"></span>
                        <header class="cont-head justcontent-between">
                            <h2 class="cont-tit">PROJECT </h2>
                            <div class="toggleBtn-box">
                                <div class="toggleBtn-item">
                                    <input id="toggle-on1" class="toggle toggle-left btn btn-primary btn-circle" name="has_enabled" value="true" type="radio" checked="">
                                    <label for="toggle-on1" class="toggleBtn">최종</label>
                                    <input id="toggle-off1" class="toggle toggle-right btn btn-primary btn-circle" name="has_enabled" value="false" type="radio">
                                    <label for="toggle-off1" class="toggleBtn">해제</label>
                                </div>
                            </div>
                        </header>
                        <div class="view-content-area">
                            <div class="view-head dsp-flex-between">
                                <div class="dsp-flex-center">
                                    <h3>파일_ver 1.0.0</h3>
                                    <span class="data-txt">2019.08.22</span>
                                </div>
                                <p>작성자</p>
                            </div>
                            <div class="view-contBox">
                                <p class="content-txt">이미지에 대한 설명이 들어옵니다.</p>
                                <form action="" name="formChek">
                                    <div class="thumbnail-box">
                                        <ul class="thumbnail-list dsp-flex-center">
                                            <li class="list">
                                                <div class="list-imgBox"><img src="../assets/images/test.jpg" alt="프로젝트 이미지"></div>
                                                <div class="list-tit">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="mycheck" class="ch">
                                                            <i class="icheck">체크박스</i>
                                                            <span data-toggle="tooltip" data-placement="bottom" title="셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다">셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다셀프체크 이미지 체크중입니다</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list">
                                                <div class="list-imgBox"><img src="../assets/images/test.jpg" alt="프로젝트 이미지"></div>
                                                <div class="list-tit">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="mycheck" class="ch">
                                                            <i class="icheck">체크박스</i>
                                                            <span data-toggle="tooltip" data-placement="bottom" title="셀프체크 이미지 체크중입니다">셀프체크 이미지 체크중입니다</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list">
                                                <div class="list-imgBox">
                                                    <div class="fileImg">
                                                        <img src="../assets/images/pdf-img.png" alt="프로젝트 이미지">
                                                    </div>
                                                </div>
                                                <div class="list-tit">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="mycheck" class="ch">
                                                            <i class="icheck">체크박스</i>
                                                            <span data-toggle="tooltip" data-placement="bottom" title="셀프체크 이미지 체크중입니다">셀프체크 이미지 체크중입니다</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list">
                                                <div class="list-imgBox">
                                                    <div class="fileImg">
                                                        <img src="../assets/images/psd-img.png" alt="프로젝트 이미지">
                                                    </div>
                                                </div>
                                                <div class="list-tit">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="mycheck" class="ch">
                                                            <i class="icheck">체크박스</i>
                                                            <span data-toggle="tooltip" data-placement="bottom" title="셀프체크 이미지 체크중입니다">셀프체크 이미지 체크중입니다</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list">
                                                <div class="list-imgBox">
                                                    <div class="fileImg">
                                                        <img src="../assets/images/ppt-img.png" alt="프로젝트 이미지">
                                                    </div>
                                                </div>
                                                <div class="list-tit">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="mycheck" class="ch">
                                                            <i class="icheck">체크박스</i>
                                                            <span data-toggle="tooltip" data-placement="bottom" title="셀프체크 이미지 체크중입니다">셀프체크 이미지 체크중입니다</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="button-list dsp-flex-between mt-15">
                                            <a href="/designUploadSite/views/project.html" class="btn btn-dark">목록</a>
                                            <div class="dsp-flex">
                                                <button type="button" id="allBtnDownload" class="btn btn-download btn-out-turquoise w-120 allcheck" data-all-check=".ch" data-value="true">전체 선택</button>
                                                <button type="button" class="btn btn-download btn-turquoise w-120 ml-10">선택 다운로드</button>
                                                <button type="button" class="btn btn-out-dark w-85 ml-10">수정</button>
                                                <button type="button" class="btn btn-dark w-85 ml-10">삭제</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </article>
                    <!-- // content-area -->
                </section>
            </div>
            <!-- s : footer -->
            <div data-include-path="/designUploadSite/views/footer.html"></div>
            <!-- // footer -->
        </div>
    </div>
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script>
 
    </script>
</body>
</html>